body {
    background-color: #1D1F20;
}
.background {
    position: relative;
    width: 100%;
}
.background::after{
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0,0,0,0), #1D1F20);
}
.background img {
    width: 100%;
}
