:root{
    --background-color: rgb(10, 10, 10);
    color: white;
}

#background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 1000px;
    background-image:  linear-gradient(rgba(0,0,0,0) , var(--background-color) 100%), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

body{
    height: 200vh;
    background-color: var(--background-color);
    overflow-x: hidden;
}