:root{
    --header-background-color: rgb(17, 17, 17);
    --header-height: 40px;
}

#header{
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--header-background-color);
    align-items: center;
    z-index: 10;
}


#nav-bar{
    display: flex;
    margin-left: 10px;
    list-style-type: none;
}

.nav-button{
    display: flex;
    padding: 5px;
    text-decoration: none;
    color:white;
    border-left: 1px solid white;
}