.projects-grid {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}
.projects-grid a {
    color: inherit;
    text-decoration: none;
}
.project-box {
    position: relative;
    border-radius: 3px;
    height: 100%;
}

.project-box:hover {
    background-color: #6C757D;
}
.project-box-img-wrapper {
    position: relative;
}
.project-box:hover .project-box-img-wrapper::after{
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#343a405e, #343a40a4,#343a40e3);
}

.project-box-content {
    padding: 1em;
}

.projects-grid img {
    width: 100%;
}


@media screen and (min-width: 500px){
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 760px){
    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1000px){
    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}