* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
@media screen and (min-width: 200px){
    * {
        font-size: 14px;
    }
}
@media screen and (min-width: 500px){
    * {
        font-size: 16px;
    }
}


