:root {
    --section-color: #495057;
    --section-text-color: #CED4DA;
}

main {
    top:0px;
    padding: 5em 1.5em 0px 1.5em;
    padding-top: 5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me-img {
    width: 40%;
}
.my-name {
    text-align: center;
    font-size: 5em;
    color: var(--section-text-color);
}

#about-me {
    width: 40%;
}

section {
    padding: 1.5em;
    background-color: var(--section-color);
    color: var(--section-text-color);
    border-radius: 10px;
    margin-bottom: 1.5em;
}
section p {
    margin-top: 1em;
}
#about-me h3{
    text-align: center;
}
#projects, #contact {
    width: 80%;
}

.project-info {
    width: 90%;
}
.project-info h1 {
    text-align: center;
    margin-bottom: 20px;
}
.project-info img {
    width: 100%;
}
.project-info p {
    padding-top: 5px;
    padding-bottom: 5px;
}



@media screen and (min-width: 200px){
    .me-img {
        width: 70%;
    }
    .my-name {
        font-size: 3em;
    }
    #about-me {
        width: 90%;
    }
    #projects, #contact {
        width: 90%;
    }
}
@media screen and (min-width: 760px){
    .my-name {
        font-size: 4em;
    }
    .me-img {
        width: 40%;
    }
    #about-me {
        width: 60%;
    }
    #projects, #contact {
        width: 90%;
    }
}
@media screen and (min-width: 1000px){
    .my-name {
        font-size: 5em;
    }
    #about-me {
        width: 40%;
    }
}
