
.sidebar {
    z-index: 1200;
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
    .sidebar-close-btn-wrapper {
        background-color: $primary-color;
        button {
            box-shadow: none;
            border: none;
            color: $font-color;
        }
    }
    ul {
        list-style-type: none;
        li {
            transition: 0.2s;
            border-bottom: 1px solid $highlight;
            &:hover {
                background-color: $highlight;
            }
            a {
                display: block;
                width: 100%;
                color: $font-color;
                text-decoration: none;
            }
        }
    }
    @media screen and (min-width: 768px){
        width: auto;
        border-right: 1px solid $highlight;
    }
}